.form{
    // width: 528px;
    
    &__field{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        &:nth-child(4n){
            margin-bottom: 20px;
        }

    }
    
    &__input{
        width: 100%;
        padding: 12px 12px 12px 32px;
        border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    margin-top: 4px;
    line-height: 1.17;
    
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        border-color: var(--hover-color);
    }
    
    }
    
    &__icon{
        position: absolute;
        left: 12px;
        top: 70%;
        transform: translateY(-70%);
        color: var(--main-text-color);
    
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
    }

    &__comment{
        margin-top: 4px;
        width: 100%;
        padding: 12px;
        border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    height: 120px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus{
        border-color: var(--hover-color);
    }
    font-size: 14px;
    line-height: 1.14;

    @include desktop{
        font-size: 12px;
        line-height: 1.16;
    }
   
    }

    &__button{
   
        width: 200px;
        height: 50px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        background-color: var(--hover-color);
        border: none;
        color: var(--main-bg-color);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        cursor: pointer;
        align-items: center;
        text-align: center;
        display: block;
        margin: 0 auto;
        transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus{
            background-color: var(--button-active-bg-color) ;
            color: var(--second-text-color);}
          
        }


}

.form__input:focus ~ .form__icon {
    fill: var(--hover-color);}



label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--p-color);
}



.checkbox{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;

}

.checkbox-label{
display: flex;
justify-content: center;
align-items: center;
color: var(--p-color);
text-align: center;
margin-bottom: 30px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.03em;

    @include desktop{
        font-size: 14px;
        line-height: 1.71;
    }

}

.checkbox-input{
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;

}

.checkbox-icon{
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 1px solid var(--logo-studio-color);
    border-radius: 4px;
    margin-right: 8px;
    
}

.checkbox-link{
    color: var(--hover-color);
    margin-left: 5px;
}

.checkbox-input:checked+.checkbox-icon{
    background-color: var(--hover-color);
    border-color: var(--hover-color);
    background-image: url(../images/icon-check.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    background-origin: border-box;
    
}


.checkbox-input:focus+.checkbox-check>.checkbox-icon{
    border-color: var(--hover-color);
}



