.partners__tittle{
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--main-text-color);
    text-align: center;
}

.clients{
    gap: 30px;
    display: flex;

    &__link{
        color: #AFB1B8;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 170px;
        height: 92px;
        border: 1px solid var(--social-color);
        border-radius: 4px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            border-color: var(--hover-color);
            color: var(--hover-color);
        }

        
    }
    &__icon{
        fill: currentColor;
    }
    
}


